*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --clr-Orange: hsl(25, 97%, 53%); /*Primary Colours */

  --clr-White: hsl(0, 0%, 100%);
  --clr-Light-Grey: hsl(217, 12%, 63%);
  --clr-Medium-Grey: hsl(216, 12%, 54%);
  --clr-Dark-Blue: hsl(213, 19%, 18%);
  --clr-Very-Dark-Blue: hsl(216, 12%, 8%);
}

body {
  background-color: black;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  height: 100vh;
  display: grid;
  place-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
.content {
  background-color: var(--clr-Very-Dark-Blue);
  min-width: 335px;
  display: grid;
  place-content: center;
  grid-template-columns: auto;
  margin: 0 20px;
  padding: 20px;
  border-radius: 10px;
}

.star-icon {
  width: 35px;
  height: 35px;
  margin-top: 0.5rem;
  background-color: var(--clr-Medium-Grey);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--clr-White);
  font-size: 1.5rem;
  margin: 1rem 0;
}

.rating-button > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  margin: 1rem 0;
}

.rating ul li.button {
  background-color: var(--clr-Medium-Grey);
  color: var(--clr-White);
  width: 40px;
  height: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0.7rem 0;
}

.rating:hover {
  cursor: pointer;
  background-color: var(--clr-Orange);
}
.rating:focus {
  background-color: var(--clr-White);
  color: var(--clr-Orange);
}
.rating:active {
  background-color: var(--clr-White);
  color: var(--clr-Orange);
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  padding: 0.65rem;
  background-color: var(--clr-Dark-Blue);
  color: var(--clr-White);
  border-radius: 50%;
}
.submit {
  width: 100%;
  font-family: "Overpass", sans-serif;
  font-size: 0.95rem;
  padding: 0.85rem;
  background-color: var(--clr-Orange);
  text-transform: uppercase;
  border-radius: 50px;
  border-style: none;
  color: var(--clr-White);
  letter-spacing: 0.1rem;
  font-weight: 700;
  margin: 0.5rem 0;
  transition: 0.3s;
  /* border: 1px solid red; */
}

button:hover {
  background-color: var(--clr-White);
  color: var(--clr-Orange);
  cursor: pointer;
}
button:focus {
  background-color: var(--clr-Medium-Grey);
  color: var(--clr-Orange);
}
li:active {
  background-color: var(--clr-White);
}

@media (min-width: 375px) {
  .content {
    max-width: 375px;
  }
  h1 {
    font-size: 1.7rem;
  }
  .rating {
    width: 50px;
    height: 50px;
  }

  .star-icon {
    width: 45px;
    height: 45px;
  }
}

.thank-you {
  background-color: var(--clr-Very-Dark-Blue);
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
h1,
p {
  text-align: center;
  padding: 0 1rem;
  color: var(--clr-Light-Grey);
}
h3 {
  text-align: center;
  background-color: var(--clr-Dark-Blue);
  color: var(--clr-Orange);
  font-weight: 400;
  width: fit-content;
  margin: 1.5rem;
  padding: 0.5rem 0.7rem;
  border-radius: 1.5rem;
}

.attribution {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
  color: var(--clr-White);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
